<style>
table {
font-family:aerial,sans-serif;
border-collapse:collapse;
width=100%
}
th,td{
text-align:left;
padding:5px;
border:  1px solid #dddddd;
}
tr:nth-child(even){
background-color: #dddddd;
}
.center1{
position:relative;
    left:0;
    right:0;
    top:80%;
    bottom:0;
}
#center2{
position:relative;
    left:0;
    right:0;
    top:0;
    bottom:0;
}
.center3{
position:absolute;
    left:0;
    right:50%;
    top:37%;
    bottom:0;
}
.center4{
position:absolute;
    left:0; 
    right:5%;
    top:5%;
    bottom:0;
}

</style>
